*,
*::before,
*::after {
  box-sizing: border-box;
}
aside {
  width: 30%;
  height: 100vh;
  a {
    &:hover {
      opacity: 1;
    }
  }
  #library {
    #card-aside {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
section {
  width: 70%;

  .button-move {
    background-color: black;
  }
  #logo {
    width: 30px;
    height: 30px;
  }
  .img-size {
    width: 60px;
    height: 60px;
  }
}
