@import url(./assets/BW2-Spotify-assets/assets/css/circular-font.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
aside {
  width: 30%;
  height: 100vh;
  a {
    &:hover {
      opacity: 1;
    }
  }
  #library {
    #scroll-library {
      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
      height: 64vh;
      overflow: auto;
    }
  }
}
.card-aside {
  img {
    width: 50px;
    height: 50px;
  }
}
section {
  height: 88vh;
  overflow: auto;

  .button-move {
    background-color: black;
  }
  #logo {
    width: 30px;
    height: 30px;
  }
  .img-size {
    width: 60px;
    height: 60px;
  }
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

#player {
  height: 70px;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
#small-menu {
  height: 70px;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

#following-button {
  font-size: 0.5rem;
}

.img-library {
  width: 105px;
  height: 105px;
}

.titleAlbum {
  font-size: 5rem;
}

.img-artist {
  width: 25px;
}
.info {
  font-size: 0.75rem;
}

@media (max-width: 992px) {
  #mix .col:last-child, #searchMainAlbums .col:last-child  {
    display: none;
  }
  #forYou .col:last-child {
    display: none;
  }

  #recents .col:last-child {
    display: none;
  }
}

#searchIcon {
  top: 10px;
  left: 20px;
}

.srcimg {
  width: 140px;
  height: 140px;
  padding: 0;
  border-radius: 5%;
}

#bkImg {
  height: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
}

.btnPlay {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 10px;
}

.cursor {
  cursor: pointer;
}
@media (max-width: 768px) {
  #mix .col:last-child,
  #mix .col:nth-last-of-type(2),
  #searchMainAlbums .col:last-child,
  #searchMainAlbums .col:nth-last-of-type(2) {
    display: none;
  }
  #forYou .col:last-child,
  #forYou .col:nth-last-of-type(2) {
    display: none;
  }

  #recents .col:last-child,
  #recents .col:nth-last-of-type(2) {
    display: none;
  }

  .album-img {
    width: 200px;
  }
  .titleAlbum {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  #mix .col:last-child,
  #mix .col:nth-last-of-type(2),
  #mix .col:nth-last-of-type(3),
  #searchMainAlbums .col:last-child,
  #searchMainAlbums .col:nth-last-of-type(2),
  #searchMainAlbums .col:nth-last-of-type(3) {
    display: none;
  }
  #forYou .col:last-child,
  #forYou .col:nth-last-of-type(2),
  #forYou .col:nth-last-of-type(3) {
    display: none;
  }

  #recents .col:last-child,
  #recents .col:nth-last-of-type(2),
  #recents .col:nth-last-of-type(3) {
    display: none;
  }
  .album-img {
    width: 150px;
  }
  .titleAlbum {
    font-size: 2rem;
  }
}
